@media only screen and (max-width: 720px) {
  .blank {
    display: none;
  }
  body{
    overflow-x: hidden;
  }
  .smallNav {
    display: none;
  }
  #menu {
    width: 100%;
    position: relative;
  }
  .bigMenu {
    padding: 4rem 0 0 0;
    height: 8rem;
    .search {
      height: 3.5rem;
      width: 90%;
      margin: 0 1rem;
      & input[type="button"] {
        width: 30%;
      }
    }
    .first {
      position: fixed;
      display: none;
      top: 10rem;
      width: 100%;
      height: 100%;
      background: #fff;
      overflow: auto;
      & > li {
        height: 3rem;
        width: 100%;
        position: relative;
        &::hover {
          height: 100%;
        }
        & > h4 {
          height: 100%;
          border-top: 1px solid #c0c0c0;
          border-bottom: 1px solid #c0c0c0;
          display: flex;
          align-items: center;
          padding: 0 1rem;
          &::after {
            content: "";
          }
        }
      }

      & .full-menu {
        position: absolute;
        width: 10rem;
        height: max-content;
        top: 2rem;
        overflow: auto;
        left: 1rem;
        display: block;
        & li,
        li h4 {
          border: none;
          width: 10rem;
        }
      }
      ul {
        position: relative;
        top: 3rem;
      }
    }
    & > a > img {
      position: absolute;
      top: 1rem;
      width: 50px;
    }
    .trevo-bt {
      height: 3rem;
      width: 0;
      background: none;
      &::after {
        width: 40px;
      }
    }
    .second {
      position: absolute;
      top: 0;
      height: 4rem;
      right: 40px;
      img {
        padding: 0;
      }

      & h4 {
        font-size: 2vw !important;
      }
    }
  }
  .mega-menu-wrapper {
    overflow-y: hidden;
    overflow-x: auto;
    height: max-content;
    width: 10rem;
    transform: translateX(0);
  }
  .fixed-container {
    & .card {
      width: 9vw;
      & h4 {
        /* font-weight: 100; */
        font-size: 2vw;
        font-weight: inherit;
        color: inherit;
      }
      img {
        width: 9vw;
      }
    }
  }
  .title {
    padding: 0 0 0 2.5rem;
  }
  input[left] {
    right: 1rem !important;
    width: 50px !important;
    height: 50px !important;
  }
  input[right] {
    left: 1rem !important;
    width: 50px !important;
    height: 50px !important;
  }
  .big-cards {
    width: 80% !important
    ;
    overflow: auto;
    padding:0 0 0 30rem;
    scrollbar-width: none;
    .cards {
      img {
        width: 12rem;
      }
    }
  }
  .big-cards::-webkit-scrollbar {
    display: none;
  }
  .brands{
    gap: 10px;
    overflow: auto;
    scrollbar-width: none;
    & .item{
        width: 15rem;
        & img{
            height:15rem;
        }
    }
  }
  .brands:-webkit-scrollbar {
    display: none;
  }
}
