@media only screen and (max-width: 1200px) {
  .second {
    & img {
      width: 25px;
    }
    & h4 {
      font-size: 0.8rem !important;
    }
  }
  .slide {
    height: 19rem;
  }
  .big-cards {
    width: 85%;
    height: 20rem;
    margin: 0 auto;
  }
  .title {
    margin: 1rem 0;
    padding: 0 0 0 5.5rem;
    font-size: 1.5rem;
  }
  .scroller-xd {
    height: 20rem;
    width: 100%;
    & .item-scroller {
      gap: 1px;
    }
    &::after {
      width: 5rem;
    }
    &::before {
      width: 5rem;
    }
    & .left {
      left: 1rem;
    }
    & .right {
      right: 1rem;
    }
    & .item-scroller .item {
      width: 13rem;
      height: 20rem;
      & input {
        width: 100% !important;
        padding: 10px !important;
        font-size: 1rem !important;
      }
    }
  }
  .brands {
    height: 18rem;
    .item {
        width: 100%;

      & img {
        height: 11rem;
        aspect-ratio: 1/1;
      }
      h3 {
        font-size: 1rem;
      }
      p{
        font-size: .8rem;
      }
    }
  }
  .extended{
    height: 23rem;
  }
}
