*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bg:#fff;
    --sbg:#F5F5F5;
}
body{
    background-color: var(--bg);
}
.smallNav{
    background-color: var(--sbg);
    width: 100%;
    height: 1.9rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    & .item{
        border-right:1px solid #c0c0c0 ;
    }
    & .menubar{
        width: 30%;
        display: flex;
        justify-content: flex-end;
    }
}
.item{
    display: flex;
    align-items: center;
    padding:.05rem .5rem;
    color:#333;
    padding:0 1.2rem;
    white-space: nowrap;
    & img{
        height: 1.3rem;
        border: none;
        padding:0 5px 0 0;
    }
}
.bigMenu{
    width: 100%;
    height:6rem;
    border-bottom: 1px solid #c0c0c0;
    display: flex;
    padding: 1.1rem;
}