* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: #fff;
  --sbg: #f5f5f5;
  --bt: rgb(120, 120, 233);
}

input[type="button"],
.left,
.right {
  user-select: none;
}
body {
  color: #000;
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.smallNav {
  background-color: var(--sbg);
  width: 100%;
  height: 1.9rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  & .item {
    border-right: 1px solid #c0c0c0;
  }

  & .menubar {
    width: 30%;
    display: flex;
    justify-content: flex-end;
  }
}

.item {
  display: flex;
  align-items: center;
  padding: 0.05rem 0.5rem;
  /* color: #333; */
  padding: 0 1.2rem;
  white-space: nowrap;
  cursor: pointer;

  & img {
    height: 1.3rem;
    padding: 0 5px 0 0;
  }
}

.bigMenu {
  width: 100%;
  height: 6rem;
  border-bottom: 1px solid #c0c0c0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.1rem;

  & ul {
    list-style: none;
    padding: 1.1rem;
  }

  & img {
    width: 4.5rem;
  }
}

.first,
.second {
  width: 30%;
  display: flex;
  justify-content: space-around;

  & li h4 {
    font-size: 1rem;
    color: inherit;
    font-weight: inherit;
  }
}

.first {
  width: 35%;
}

.second {
  width: 20%;
  height: 100%;
  /* background: red; */
  display: flex;
  align-items: center;

  & li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 7px;
  }

  & li img {
    width: 25px;
    height: 25px;
  }
}

.first li {
  cursor: pointer;
  position: relative;
  height: 100%;

  & ul {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 30px);
    background-color: var(--bg);
    padding: 0;
    display: none;
    white-space: nowrap;
    width: max-content;
    box-shadow: 1px 1px 3px gray;
    z-index: 99;
    padding: 20px;

    & li {
      padding: 10px 20px;
      border-bottom: 1px solid #c0c0c0;
      min-width: 15rem;
      min-height: 3rem;
    }

    & li:hover {
      background: #eee;
    }

    & li::before {
      display: none;
      width: 100%;
      height: 100%;
    }
  }

  & ul::before {
    position: absolute;
    content: "";
    transform: translate(10%, -20%);
    width: 100%;
    height: 100%;
    background: transparent;
  }

  &:hover ul {
    display: block;
  }
}

.first li::before {
  position: absolute;
  content: "";
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  left: 0;
  bottom: -10px;
  transition: all 0.2s ease;
}

.first li:hover::before {
  transform-origin: center;
  transform: scaleX(100%);
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 47%;
  height: 100%;

  & input[type="text"] {
    width: 85%;
    height: 47%;
    border-radius: 50px 0 0 50px;
    border: none;
    outline: none;
    background-color: var(--sbg);
    padding: 5px 10px;
    font-size: 0.9rem;
    /* color: #333; */
  }

  & input[type="button"] {
    width: 15%;
    height: 47%;
    border-radius: 0 50px 50px 0;
    background: gray;
    font-weight: 900;
    font-size: 1rem;
    color: var(--bg);
    border: none;
    outline: none;
  }
}

.inside-menu {
  position: relative;
}

.inside-menu::after {
  content: url(arrow.svg);
  height: 10px;
  width: 10px;
  top: 40%;
  padding: 0 5px;
  position: absolute;
  transform: translateY(-50%);
  transition: transform 0.2s linear;
}

.inside-menu:hover::after {
  transform: rotateZ(180deg) translateY(-40%);
}

.trevo-bt {
  position: relative;
  width: 10%;
  height: 47%;
  background: linear-gradient(to right, #04562a, #018943);
  margin: 0 20px 0 10px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0 22px;
  color: var(--sbg);
  font-size: 0.9rem;
  font-weight: 900;

  &::before {
    content: url(star.svg);
    position: absolute;
    left: 5px;
    scale: 1.2;
    transform: rotateX(180deg) translateY(15%);
  }

  &::after {
    content: url(dino.svg);
    position: absolute;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background-color: #e6eecf;
    right: -5px;
    border: 3px solid #04562a;
    overflow: hidden;
  }
}

.rem {
  width: 100%;
  height: 2.5rem;
  /* background: red; */
  border-bottom: 1px solid #c0c0c0;
  display: flex;
  justify-content: center;
  align-items: center;

  & .rItem {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 70%;
    border-right: 1px solid #c0c0c0;

    & img {
      height: 1.3rem;
      padding: 0 5px 0 0;
    }
  }

  & .rItem:last-child {
    border: none;
  }
}

.first-container {
  position: relative;
  width: 100%;
  height: 12rem;
  overflow: hidden;
  /* scrollbar-width: none; */
  display: flex;
  align-items: center;

  /* &::-webkit-scrollbar{
        display: none;
    } */
  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 10%;
    height: 100%;
    background: linear-gradient(to right, var(--bg), #ffffffc8);
    z-index: 9;
  }

  &::after {
    content: "";
    position: absolute;
    right: 0;
    width: 10%;
    height: 100%;
    background: linear-gradient(to left, var(--bg), #ffffffc8);
  }

  & input[right] {
    width: 55px;
    height: 55px;
    background: var(--bt);
    color: var(--bg);
    font-size: 2rem;
    font-weight: 900;
    position: absolute;
    border-radius: 50px;
    left: 100px;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 9;
    text-shadow: 1px 1px 3px gray;
    display: none;
    border: none;
  }

  & input[left] {
    width: 55px;
    height: 55px;
    background: var(--bt);
    color: var(--bg);
    font-size: 2rem;
    font-weight: 900;
    position: absolute;
    border-radius: 50px;
    right: 100px;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 9;
    text-shadow: 1px 1px 3px gray;
    border: none;
  }

  & input:active {
    filter: brightness(90%);
  }
}

.fixed-container {
  width: 200%;
  height: 6rem;
  display: flex;
  position: absolute;
  left: 10%;
  gap: 20px;
  transition: all 0.5s ease;

  & .card {
    width: 6rem;
    height: 8rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: baseline;
    text-align: center;

    & img {
      width: 80%;
      height: auto;
    }

    & h4 {
      /* font-weight: 100; */
      font-weight: inherit;
      color: inherit;
    }

    &:hover {
      scale: 0.95;
      text-decoration: underline;
    }
  }
}

.image-scroller {
  width: 80rem;
  height: 30rem;
  margin: 0 auto;
  display: flex;
  overflow: hidden;
  align-items: center;

  /* background-color: red;  */
  & img {
    width: 80rem;
    height: 400px;
    position: absolute;
    overflow: hidden;
  }

  & img:last-child {
    order: 1;
  }
}

.big-cards {
  position: relative;
  width: 100%;
  height: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  & .cards {
    width: 20rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    & img {
      width: 100%;
      aspect-ratio: 4/3;
      border-radius: 10px;
      margin-bottom: 10%;
    }

    & a {
      color: blue;
    }

    & button {
      width: 100%;
      padding: 10px 20px;
      background: green;
      border: none;
      outline: none;
      font-size: 1.5rem;
      border-radius: 10px;
      color: #fff;
    }
    & h3 {
      font-weight: 500;
    }
  }
}

.dash-image {
  width: 85%;
  height: 11rem;
  border-radius: 10px;
  background: url(https://media.4rgos.it/i/Argos/4726-M020-a-list-desktab?w=auto&qlt=50&fmt=webp&noiser=0&);
  background-position: center;
  background-size: cover;
  margin: 4rem 0;
  margin-top: 2rem;
  margin-inline: auto;
}

.headline {
  display: inline-block;
  position: absolute;
  left: 8.5%;
  top: 0;
}

.disc {
  color: red;
  font-weight: 600;
}

.money {
  color: inherit;
  font-weight: 500;
}

.second-cn {
  height: 40rem;

  & .cards {
    width: 20rem !important;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    & img {
      width: 100%;
      aspect-ratio: 4/3;
      border-radius: 10px;
    }

    & button {
      width: 100%;
      padding: 10px 20px;
      background: green;
      border: none;
      outline: none;
      font-size: 1.5rem;
      border-radius: 10px;
      color: #fff;
    }
  }
}

.first li .full-menu {
  /* background: #000; */
  position: fixed;
  height: max-content;
  box-shadow: none;
  border: 1px solid #c0c0c0;
  left: 0;
  top: 0%;
  transform: translate(0, 25%);
  padding: 0;

  & li {
    height: max-content;
    min-width: 15rem;
    min-height: 3rem;
    text-align: center;

    & h4 {
      width: 100%;
    }

    & h4::after {
      content: url(arrow.svg);
      position: absolute;
      right: 10px;
    }

    &:hover h4::after {
      transform: rotate(-90deg);
      transition: transform 0.3s ease;
    }

    & div h4::after {
      content: "";
    }
  }

  & li ul {
    width: 83vw;
    height: 83vh;
    position: fixed;
    top: 0;
    transform: translateX(9.2%);
    display: none;

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      left: -10%;
    }
  }

  & li:hover ul {
    display: block;
  }

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 50%;
    top: -100%;
    background: transparent;
  }
}

.mega-menu-wrapper {
  width: 100%;
  height: 100%;
  column-width: 16rem;
  padding: 0 20px;
  overflow-x: auto;

  & div {
    display: block;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    break-inside: avoid;
    align-items: baseline;
    padding: 10px;
    justify-content: space-evenly;
    gap: 10px;

    & h4 {
      color: inherit;
      font-weight: 500;
      border-bottom: 1px solid #c0c0c0;
      padding: 10px 0;
      width: 100%;
      text-align: left;
    }

    & a {
      color: #303030;
      text-decoration: none;

      &:hover {
        border-bottom: 1px solid #333;
      }
    }
  }
}

#menu {
  position: fixed;
  width: 100%;
  height: max-content;
  z-index: 999;
  background: #ffffff;
  transition: box-shadow 0.3s ease-in;
  top: 0;
}

.blank {
  width: 100%;
  height: 10rem;
}

.slide {
  width: 100%;
  height: 26.5rem;
  overflow: hidden;
  padding: 10px 0;
}

footer {
  width: 100%;
  height: 72rem;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;

  & iframe {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}

.scroller-xd {
  width: 100%;
  height: 27rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;

  & .left,
  .right {
    width: 50px;
    height: 50px;
    background: var(--bt);
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: circle(50%);
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--bg);
    position: absolute;
    z-index: 9;
  }

  & .left {
    left: 7rem;
  }

  & .right {
    right: 7rem;
  }

  & .item-scroller {
    width: max-content;
    min-width: 100%;
    height: 100%;
    overflow: auto;
    column-width: 15rem;
    gap: 2.5rem;
    position: absolute;
    scrollbar-width: none;
    padding: 0 11rem;

    & .item {
      width: 18rem;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: start;
      flex: 1;
      min-width: 0;
      white-space: wrap;
      overflow-x: auto;
      & img {
        width: 100%;
        height: auto;
      }
      & a {
        color: #333;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
      & a,
      p,
      .money,
      .disc {
        display: flex;
        text-align: left;
        justify-content: start;
        width: 100%;
      }
      & input[type="button"] {
        width: 95%;
        font-size: 1.5rem;
        background: #018943;
        color: #fff;
        font-weight: 900;
        padding: 10px;
        appearance: none;
        border: none;
        outline: none;
        border-radius: 5px;
      }
    }
  }
}
.scroller-xd::after {
  content: "";
  position: absolute;
  right: 0;
  height: 100%;
  width: 12rem;
  background: linear-gradient(to left, #fff 70%, #ffffff3b);
}
.scroller-xd::before {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 12rem;
  background: linear-gradient(to right, #fff 70%, #ffffff3b);
  z-index: 9;
}
.dash-img-2,
.dash-img-3 {
  width: 85%;
  height: 13rem;
  background: url(https://media.4rgos.it/i/Argos/4926-M020-homepage-dyson-app-only-desktab-red?w=auto&qlt=50&fmt=webp&noiser=0&);
  background-position: center;
  border-radius: 10px;
  margin: 1rem auto;
  background-size: cover;
}

.brands {
  width: 100%;
  height: max-content;
  display: grid;
  grid-template-columns: 0.7fr 0.7fr 0.7fr 0.7fr;
  grid-template-rows: 1fr;
  justify-content: space-evenly;
  padding: 0 6rem;
  position: relative;
  gap: 10px;
  margin: 3rem 0 0 0;
  & .item {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    white-space: wrap;
    & img {
      height: 19rem;
      width: auto;
      aspect-ratio: 1/1;
      object-fit: cover;
      border-radius: 10px;
    }
    & h3 {
      width: 100%;
      display: block;
      margin: 10px 0;
      font-weight: 500;
      color: #111;
    }
    & p {
      color: #333;
    }
  }
}
.title {
  padding: 0 0 0 7.5rem;
  font-weight: 600;
  margin: 2rem 0;
}
.extended {
  height: 30rem;
}
.dash-img-3 {
  background: url(https://media.4rgos.it/i/Argos/4025-M020-argos-marketing-sign-up-desktab?w=auto&qlt=50&fmt=webp&noiser=0&);
  background-size: cover;
}
.points-card {
  width: 85%;
  height: 25rem;
  background: linear-gradient(to left, #8839e9, #8223fa);
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  & .data {
    width: 47%;
    height: 100%;
    display: flex;
    padding: 2rem;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    & h2,
    p {
      color: #fff;
    }
    & p {
      padding: 1rem 0;
    }
    & input {
      padding: 10px 20px;
      font-size: 1.2rem;
      color: #fff;
      border: 1px solid #fff;
      border-radius: 10px;
      background: transparent;
    }
  }
  & img {
    width: 53%;
  }
}
.post-form {
  width: 85%;
  height: 5.5rem;
  background: #135ca3;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  & form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    & .postcode {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0;
      border-radius: 5px;
      outline: 1px solid #fff;
      & input {
        padding: 15px;
        caret-color: lightseagreen;
        border: none;
        outline: none;

      }
      & input[type="button"] {
        color: #fff;
        background: transparent;
      }
    }
  }
}
.container{
    width: 85%;
    margin-inline: auto;
   & h2,h3{
      font-weight: 500;
    }
   & p{
    margin:.5rem 1rem;
    color: #111;
    font-weight: 400;
   }
  }
.toggle-checkbox {
    display: none;
    
  }

  .extra-content {
    display: none;    
  }

  .toggle-checkbox:checked ~ .content-wrapper .extra-content {
    display: block;
  }

  .toggle-button {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 12px 0;
    background: #f1f8f6;
    cursor: pointer;
    font-weight: bold;
    color: #005a70;
    margin-top: 20px;
  }

  .toggle-button span {
    background: #f1f8f6;
    padding: 0 15px;
    z-index: 1;
    margin: 0 auto;
    text-decoration: underline;
  }

  .text-less { display: none; }
  .toggle-checkbox:checked ~ .toggle-button .text-more { display: none; }
  .toggle-checkbox:checked ~ .toggle-button .text-less { display: inline; }

  .toggle-button::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: #000;
    left: 0;
    z-index: 0;
  }
  
  .toggle-button { position: relative; }

  a { color: #005a70; text-decoration: underline; font-weight: 500; }
  a:hover { text-decoration: none; }
  
