* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg: #fff;
    --sbg: #F5F5F5;
}

body {
    background-color: var(--bg);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.smallNav {
    background-color: var(--sbg);
    width: 100%;
    height: 1.9rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    & .item {
        border-right: 1px solid #c0c0c0;
    }

    & .menubar {
        width: 30%;
        display: flex;
        justify-content: flex-end;
    }
}

.item {
    display: flex;
    align-items: center;
    padding: .05rem .5rem;
    color: #333;
    padding: 0 1.2rem;
    white-space: nowrap;
    cursor: pointer;

    & img {
        height: 1.3rem;
        padding: 0 5px 0 0;
    }
}

.bigMenu {
    width: 100%;
    height: 6rem;
    border-bottom: 1px solid #c0c0c0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.1rem;

    & ul {
        list-style: none;
        padding: 1.1rem;

    }

    & img {
        width: 4.5rem;
    }
}

.first,
.second {
    width: 30%;
    display: flex;
    justify-content: space-around;

    & li h4 {
        font-size: 1rem;
        font-weight: 100;
        color: #333;
    }
}

.first {
    width: 35%;
}

.second {
    width: 20%;
    height: 100%;
    /* background: red; */
    display: flex;
    align-items: center;

    & li {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-weight: 100;
        gap: 7px;
    }

    & li img {
        width: 25px;
        height: 25px;
    }
}

.first li {
    cursor: pointer;
    position: relative;
    height: 100%;

    & ul {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 30px);
        background-color: var(--bg);
        padding: 0;
        display: none;
        white-space: nowrap;
        width: max-content;
        box-shadow: 1px 1px 3px gray;

        & li {
            padding: 10px 20px;
            border-bottom: 1px solid #c0c0c0;
        }

        & li::before {
            display: none;
            width: 100%;
            height: 100%;
        }
    }

    & ul::before {
        position: absolute;
        content: "";
        transform: translateY(-20%);
        width: 100%;
        height: 100%;
        background: transparent;
    }

    &:hover ul {
        display: block;
    }
}

.first li::before {
    position: absolute;
    content: "";
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    background: red;
    left: 0;
    bottom: -10px;
    transition: all .2s ease;
}

.first li:hover::before {
    transform-origin: center;
    transform: scaleX(100%);
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 47%;
    height: 100%;

    & input[type="text"] {
        width: 85%;
        height: 47%;
        border-radius: 50px 0 0 50px;
        border: none;
        outline: none;
        background-color: var(--sbg);
        padding: 5px 10px;
        font-size: .9rem;
        color: #333;
    }

    & input[type="button"] {
        width: 15%;
        height: 47%;
        border-radius: 0 50px 50px 0;
        background: gray;
        font-weight: 900;
        font-size: 1rem;
        color: var(--bg);
        border: none;
        outline: none;
    }
}

.inside-menu {
    position: relative;
}

.inside-menu::after {
    content: url(arrow.svg);
    height: 10px;
    width: 10px;
    top: 40%;
    padding: 0 5px;
    position: absolute;
    transform: translateY(-50%);
    transition: transform .2s linear;
}

.inside-menu:hover::after {
    transform: rotateZ(180deg) translateY(-40%);
}

.trevo-bt {
    position: relative;
    width: 10%;
    height: 47%;
    background: linear-gradient(to right, #04562A, #018943);
    margin: 0 20px 0 10px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding:0 22px;
    color: var(--sbg);
    font-size: .9rem;
    font-weight: 900;

    &::before {
        content: url(star.svg);
        position: absolute;
        left: 5px;
        scale: 1.2;
        transform: rotateX(180deg) translateY(15%);
    }

    &::after {
        content: url(dino.svg);
        position: absolute;
        width: 37px;
        height: 37px;
        border-radius: 50%;
        background-color: #E6EECF;
        right: -5px;
        border: 3px solid #04562A;
        overflow: hidden;
    }
}

.rem {
    width: 100%;
    height: 2.5rem;
    /* background: red; */
    border-bottom: 1px solid #c0c0c0;
    display: flex;
    justify-content: center;
    align-items: center;

    & .rItem {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25%;
        height: 70%;
        border-right: 1px solid #c0c0c0;

        & img {
            height: 1.3rem;
            padding: 0 5px 0 0;
        }
    }

    & .rItem:last-child {
        border: none;
    }
}
.first-container{
    position: relative;
    width: 100%;
    height: 12rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    &::before{
        content: '';
        position: absolute;
        left: 0;
        width: 10%;
        height: 100%;
        backdrop-filter: blur(10px);
        background: linear-gradient(to right,var(--bg),#ffffff51);
        z-index: 9;
    }
    &::after{
        content: '';
        position: absolute;
        right: 0;
        width: 10%;
        height: 100%;
        backdrop-filter: blur(10px);
        background: linear-gradient(to left,var(--bg),#ffffff51);
    }
    & input[left]{
        width: 45px;
        height: 45px;
        background:rgb(120, 120, 233);
        color: var(--bg);
        font-size: 2rem;
        font-weight: 900;
        position: absolute;
        border-radius: 50px;
        left: 50px;
        top: 50%;
        transform: translate(0,-50%);
        z-index: 9;
        text-shadow: 1px 1px 3px gray;
        border: none;
    }
    & input[right]{
        width: 45px;
        height: 45px;
        display: none;
        background:rgb(120, 120, 233);
        color: var(--bg);
        font-size: 2rem;
        font-weight: 900;
        position: absolute;
        border-radius: 50px;
        right: 50px;
        top: 50%;
        transform: translate(0,-50%);
        z-index: 9;
        text-shadow: 1px 1px 3px gray;
        border: none;
    }
    & input:active{
        filter: brightness(90%);
    }
}
.fixed-container{
    width: 200%;
    height: 6rem;
    display: flex;
    position: absolute;
    left: 10%;
    gap: 20px;
    transition: all .2s ease;
    & .card{
        width:6rem;
        height: 8rem;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: center;
        & img{
            width: 80%;
            height: auto;
        }
        & h4{
            font-weight: 100;
        }
        &:hover{
            scale: .95;
            text-decoration: underline;
        }
    }
}